<section class="sidebar">
  <% if @service.products.count > 0 %>
  <%= link_to 'Products supported', :controller => :services, :action => :supports, :service_id => @service.id %>
  <% end %>
</section>
<section class="content">

  <h1><%= @service.name %></h1>

  <p><%= @service.description %></p>

<%= link_to 'Back to all services', :controller => :services, :action => :all_services %>
</section>
