1<section class="content">

  <h1><%= @service.name %></h1>

  <p><%= @service.description %></p>

<%= link_to 'Back to all services', :controller => :services, :action => :all_services %>
</section>
