<section class="content">
  <h1>Admin page</h1>
  <%= link_to 'New designer', new_designer_path %><br/>
  <%= link_to 'Group', groups_path %><br/>
  <%= link_to 'Partners', partners_path %><br/>
</section>

