<section class="content">
  <ul>
    <% @designers.each do |designer| %>
        <li class="admin_item">
          <%= designer.full_name %>
          <%= link_to 'Edit', edit_designer_path(designer) %>
          <%= link_to 'Destroy', designer, :method => :delete, data: {confirm: 'Are you sure?'} %>
        </li>
    <% end %>
  </ul>
  <div class="admin_item">
    <%= link_to 'New designer', new_designer_path %>
  </div>
</section>