<section class="sidebar">
  <%= link_to "Back to #{@designer.full_name}", @designer %>
</section>
<section class="content">
  <h1>Products designed by <%= @designer.full_name %></h1>

  <% @products.each do |product| %>
      <div class="product_item">
        <div><%= image_tag(product.images.first.complete_name, :class => 'thumbnail') %></div>
        <h4> <%=link_to product.name, product_path(product, :designer_id => product.designer)%></h4>
      </div>
  <% end %>
</section>