<section class="sidebar">
  <%= link_to "Back to #{@designer.full_name}", @designer %>
</section>
<section class="content">
  <h1>Products designed by <%= @designer.full_name %></h1>
  <ul>
    <% @products.each do |product| %>
        <li>
          <%= link_to product.name, product_path(product, :designer_id => product.designer) %>
        </li>
    <% end %>
  </ul>
</section>