<section class="sidebar">

</section>
<section class="content">
  <h2><%= @designer.full_name %></h2>

  <%= image_tag(@designer.image.complete_name, :class => 'profile_photo') %>

  <p>
    <%= @designer.biography %>
  </p>

  <div class="group_links">
    <%= link_to 'Back', :back %>
  </div>
</section>
