/*
 * This is a manifest file that will be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
    margin: 0px;
    background: #222222;
    color: #EEEEEE;
}

/*
 SITE TEMPLATE CSS
*/

.wrapper {
    width: 900px;
    margin: 0 auto;
}

.main_header {
    background-color: #000000;
    overflow: auto;
    position: relative;
}

.logo {
    display: inline;
    float: left;
}

.landmarks {
    position: absolute;
    bottom: 0px;
    right: 0px;
    background-color: red;  /* Debug purpose*/
}

.sidebar {
    float: left;
    width: 300px;
    background-color: #444444;
    height: 400px;
}

.content {
    float: right;
    width: 600px;
    height: 400px;
}