/*
 * This is a manifest file that will be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

/*
body {
    margin: 0px;
    background: #222222;
    color: #EEEEEE;
}

a {
    color: #DDDDDD;
}

a:hover {
    color: white;
} */

/*
 SITE TEMPLATE CSS
*/

#container {
    width: 900px;
    margin: 0 auto;
}

#main_header {
    background-color: #000000;
    padding: 10px 10px;
}

.logo {
    display: inline;
}

.landmarks {
    float: right;
}

.content_container {
    position: relative;
    overflow: visible;
    float: left;
    width: 900px;
    min-height: 600px;
    background-color: #444444;
}

.content {
    position: absolute;
    overflow: visible;
    bottom: 0px;
    right: 0px;
    top: 0px;
    /*float: right;*/
    width: 600px;
    background-color: #222222;
    padding: 10px 20px;
}

.sidebar {
    float: left;
    clear: left;
    width: 300px;
    display: inline;
}

.group_links {
    clear: both;
}

#footer {
    clear: both;
    background: #000000;
    text-align: center;
    padding: 10px 10px;
}

























