/*
 * This is a manifest file that will be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

/*
 SITE TEMPLATE CSS
*/

#container {
    width: 900px;
    margin: 0 auto;
}

#main_header {
    background-color: #000000;
    overflow: auto;
}

.logo {
    display: inline;
}

.logo > a {
    font-family: 'Julius Sans One', sans-serif;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
}

.landmarks {
    float: right;
}

.landmarks > a {
    display: inline-block;
    text-decoration: none;
    padding: 10px;
}

.landmarks > a:hover {
    background-color: #222222;
}

.content_container {
    position: relative;
    overflow: visible;
    float: left;
    width: 900px;
    min-height: 600px;
    background-color: #333333;
}

.content {
    position: absolute;
    overflow: auto;
    bottom: 0px;
    right: 0px;
    top: 0px;
    width: 600px;
    background-color: #111111;
    padding: 20px 30px;
}

.content h1 {
    font-size: 24px;
    font-weight: 200;
    margin: 20px 20px 30px 20px;
}

.sidebar {
    float: left;
    clear: left;
    width: 240px;
    display: inline;
    padding-top: 20px;
    padding-left: 20px;
}

.sidebar h4 {
    margin: 30px 0px 0px 0px;
}

.group_links {
    clear: both;
    position: absolute;
    bottom: 0px;
    left: 0px;
    margin: 20px;
}

.group_links > a {
    background-color: #333333;
    color: #000000;
    padding: 5px;
}

.group_links > a:hover {
    background-color: #DDDDDD;
    color: #000000;
}

.transition_links {
    clear: both;
    position: absolute;
    bottom: 0px;
    left: 0px;
    margin: 20px;
}

#footer {
    clear: both;
    background: #000000;
    text-align: center;
    padding: 10px;
}

#footer > p {
    margin: 0;
}


.admin > a:hover {
    color: #000000 !important;
    background-color: #BBBBBB;
}

.admin > a {
    color: #000000 !important;
    padding: 10px;
    position: fixed;
    bottom: 0px;
    right: 0px;
    background-color: #777777;
}

.admin_item {
    overflow: auto;
    display: block;
}

.admin_item > a {
    background-color: #333333;
    color: #000000;
    padding: 5px;
}

.admin_item > a:hover {
    background-color: #DDDDDD;
    color: #000000;
}
























