// Place all the styles related to the Designers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile_photo {
  float: left;
  height: 200px;
  width: 200px;
}

.thumbnail {
  height: 150px;
  width: 150px;
  margin: 0 auto;
}

.img_container {
  //width: 100px;
  //margin: 0 auto;
}

.designer_item {
  float: left;
  margin: 20px;
}

.designer_item > h4 {
  margin: 0px;
}