// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.profile_photo {
  float: left;
  height: 200px;
  width: 200px;
}

.thumbnail {
  height: 150px;
  width: 150px;
  margin: 0 auto;
}

.img_container {
}

h3 {
  //font-size: px;
  font-weight: 200;
}

.product_item {
  float: left;
  margin: 20px;
}

.product_item > h4 {
  margin: 0px;
}

#photogallery {
  //overflow: auto;
  margin: 0 auto;
  position: relative;
  width: 600px;
  height: 400px;
  //float: left;
}

#photogallery ul li:before {
  content: '';
}

.thumbnail {
  height: 100px;
  width: 200px;
  margin: 0 auto;
}

.img_container {
  //width: 100px;
  //margin: 0 auto;
}

.partener_item {
  float: left;
  margin: 20px;
}

.partner_item > h4 {
  margin: 0px;
}