<section class = content>
  <h1>Fornitures partners</h1>

  <ul>
    <% @partners.each do |partner| %>
        <li><%= link_to(partner.name, {:controller => 'products', :action => 'rooms_by_partner', :manufacturer_id => partner.id}) %></li>
    <% end %>
  </ul>

  <div class="group_links">
    <%= link_to 'Back to Index', {:controller => :products, :action => :index} %>
  </div>
</section>