<section class = content>
  <h1>Fornitures partners</h1>

  <% @partners.each do |partner| %>
      <div class="partner_item">
        <div class="img_container"><%= image_tag(partner.image.complete_name, :class => 'thumbnail') %></div>
        <%= link_to(partner.name, {:controller => 'products', :action => 'rooms_by_partner', :manufacturer_id => partner.id}) %>
      </div>
  <% end %>


  <div class="group_links">
    <%= link_to 'Back to Index', {:controller => :products, :action => :index} %>
  </div>
</section>