<h1>Products#choose_service</h1>


<%= form_tag ({:controller => :products, :action => :add_service_to_product, :product_id => @product.id}), :multipart => true do %>
    <div class="field">
      <%= collection_select(:service, :id, @services, :id, :name) %>
    </div>

    <div>
      <%= submit_tag 'Add' %>
    </div>
<% end %>
