<h1>Products#choose_product</h1>


<%= form_tag ({:controller => :products, :action => :add_photo_to_product, :product_id => @product.id}), :multipart => true do %>
    <div class="field">
      <%= file_field_tag :photo %>
    </div>

    <div>
      <%= submit_tag 'Add' %>
    </div>
<% end %>






