<section class="sidebar">
  <%= link_to "Product description", product_path(@product, :manufacturer_id=> @product.manufacturer_id, :category_id => @product.category, :room_id => @product.room, :manufacturer_type => @product.manufacturer_type) %>
  <h4>Designer</h4>
  <%= link_to @product.designer.full_name, designer_path(@product.designer) %>
</section>


<section class="content">
<h1><%= @product.name %> technical details</h1>
<p><%= @product.technical_details %></p>
</section>