<section class = content>
  <h1>Top Design</h1>

  <% @products.each do |product| %>
      <div class="designer_item">
        <% image = product.images.first %>
        <div class="img_container"><%= image_tag(image.complete_name, :class => 'thumbnail') %></div>
        <h4><%= link_to product.name, product_path(product)%></h4>
      </div>
  <% end %>
  <div class="group_links">
    <%= link_to 'Back to Products', {:controller => :products, :action => :index} %>
  </div>
</section>

