<!DOCTYPE html>
<html>
<head>
  <title>Codech</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<section class="wrapper">
  <header class="main_header">
    <h1 class="logo">Codech</h1>
    <nav class="landmarks">

    </nav>
  </header>
  <section>
    <%= yield %>
  </section>
</section>

</body>
</html>
